<!DOCTYPE html>

{% extends 'base.html' %}


{% block content %}
<html>
<head>
    <title>Project List</title>
</head>
<body>
    <h2>Project List</h2>
    <ul>
        {% for project in projects %}
        <li>{{ project.title }} - <a href="{% url 'edit_project' project.id %}">Edit</a> - <a href="{% url 'delete_project' project.id %}">Delete</a></li>
        {% endfor %}
    </ul>
    <a href="{% url 'create_project' %}" class="btn btn-primary">Create New Project</a>
</body>
</html>

{% endblock %}